* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  /* colors */
  --black: hsla(0, 0%, 0%, 1);
  --gray: hsla(0, 0%, 66%, 1);
  /* font size */
  --fs-small: 12px;
  --fs-mid: 14px;
  --fs-big: 18px;
  --fs-extra-large: 36px;
  /* font weight */
  --fw-small: 400;
  --fw-mid: 600;
  --fw-big: 700;
}
body {
  padding: 110px 240px;
  font-family: "Poppins", sans-serif;
}
.intro {
  display: flex;
  gap: 215px;
}
.intro > h1 {
  font-family: "PT Serif", serif;
  font-size: var(--fs-extra-large);
  font-weight: var(--fw-big);
  line-height: 48px;
  width: 100%;
  margin-bottom: 96px;
}
.text > h1 {
  width: 100%;
  font-size: var(--fs-big);
  font-weight: var(--fw-mid);
  line-height: 27px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 203px;
}
.users {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 25px;
}
.users > p {
  font-size: var(--fs-mid);
  font-weight: var(--fw-big);
}
.users > p:last-of-type {
  position: absolute;
  top: 0;
  right: -5%;
  transform: rotate(90deg) translate(50%, -50%);
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  width: fit-content;
}
.users:nth-of-type(2),
.users:nth-of-type(5) {
  transform: translateY(50%);
}
.image {
  width: 100%;
}
.image > img {
  width: 100%;
  height: 100%;
}
.users:nth-of-type(2) > p:last-of-type {
  top: 0;
  right: -10%;
}
footer {
  color: var(--gray);
  font-size: var(--fs-small);
  font-weight: var(--fw-big);
  padding: 100px 0px 0px 0px;
  text-align: center;
}
@media (max-width: 450px) {
  body {
    padding: 71px 15px 0px 12px;
    overflow-x: hidden;
  }
  .intro {
    flex-direction: column;
    gap: 38px;
  }
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
  }
  .intro > h1 {
    margin-bottom: 0;
  }
  .image {
    width: 100%;
  }
  .users:nth-of-type(2),
  .users:nth-of-type(5) {
    transform: translateY(0);
  }
  .users:nth-of-type(2),
  .users:nth-of-type(4),
  .users:nth-of-type(6) {
    transform: translateY(50%);
  }
  .users > p:last-of-type {
    top: 0;
    right: -5%;
  }
  .text {
    margin-bottom: 40px;
  }
  .users:nth-of-type(2) > p:last-of-type {
    top: 0;
    right: -15%;
  }
  .users:nth-of-type(1) > p:last-of-type {
    top: 0;
    right: -10%;
  }
  .users:nth-of-type(4) > p:last-of-type {
    top: 0;
    right: -10%;
  }
}
